:root {
    --main-bg-color: #ffffff;
    --second-bg-color: #d0d0d0;
    --third-bg-color: #e0e0e0;
    --fourth-bg-color: #ffffff;
    --dark-main-bg-color: #121212;
    --main-text-color: #464646;
    --des-text: #636363;
    --contrast-text-color: #e9f5ff;
    --first-accent-color: #286ceb;
    --first-accent-darker-color: #113374;
    --first-accent-lighter-color: #abc8ff;
    --second-accent-color: #f7d200;
    --second-accent-darker-color: #cf9f00;
    --second-accent-lighter-color: #fff8d0;
    --one-weekly: #ffda74;
    --one-weekly-end: #e7aa00;
    --one-weekly-bg: #fff7d6;
    --two-weekly: #dddddd;
    --two-weekly-end: #949494;
    --loved: #ff6060;
}

.dark-theme {
        --main-bg-color: #121212;
        --second-bg-color: #252525;
        --third-bg-color: #383838;
        --fourth-bg-color: #2e2e2e;
        --main-text-color: #eeeeee;
        --des-text: #afafaf;
        --second-accent-color: #f7d200;
        --second-accent-darker-color: #cf9f00;
        --second-accent-lighter-color: #fff8d0;
        --one-weekly: #d69d00;
        --one-weekly-bg: #3f3712;
        --two-weekly: #6d6d6d;
        --two-weekly-end: #494949;
        --one-loved: #e60000;
}