/* Navigation styling */
nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end; /* Align menu items to the right */
    align-items: center;
    background: #287eff1a;
    margin: 0;
    padding: 0;
}

.menu li, .sidebar li {
    height: 45px;
    font-size: large;
}

.menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-item a {
    height: 100%;
    padding: 0 15px;
    margin: 0px;
    border-radius: 0px;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: 500;
    color: #000;
    transition: all 0.3s ease;
}

/* Dark theme nav link styling */
body.dark-theme .menu-item a {
    color: #e0e0e0;
}

.active a {
    color: var(--contrast-text-color);
    background: var(--first-accent-color);
    font-weight: bolder;
}

.menu-item a:hover{
    color: var(--first-accent-darker-color);
    background: #348cff38;
    font-weight: bolder;
}

.active a:hover {
    color: var(--contrast-text-color);
    background: var(--first-accent-color);
    font-weight: bolder;
}

/* Sidebar styling */
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    z-index: 999;
    background: #ffffff8a;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.192);
    display: none;
    flex-direction: column;
    backdrop-filter: blur(5px);
    transition: background-color 0.3s;
}

/* Dark theme sidebar styling */
body.dark-theme .sidebar {
    background: rgba(18, 18, 18, 0.8);
}

/* Sidebar links */
.sidebar li {
    width: 100%;
}

.sidebar a {
    color: #000000;
}

body.dark-theme .sidebar a {
    color: white;
}

.sidebar-item {
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.sidebar .sidebar-item:hover {
    color: --primary-color;
    background: #287eff0a;
    font-weight: bolder;
}

/* Button styling */
.theme-toggle {
    border: none;
    font-size: large;
    background: var(--second-accent-color);
    color: rgb(255, 255, 255);
    padding: 9px 12px;
    margin: 11px;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.button-container {
    position: fixed;
    right: 0;
    bottom: 15px;
}

/* Dark theme button styling */
body.dark-theme .theme-toggle {
    background: var(--first-accent-color);
    box-shadow: 0 0 10px #7bb9ff98;
}

/* Dark theme button hover styling */
body.dark-theme .theme-toggle:hover {
    box-shadow: 0 0 20px #7bb9ffc0;
}

/* Button hover styling */
.theme-toggle:hover {
    background: #cea800;
    border-radius: 5px;
    transform: scale(1.11);
}

/* Add transition to icon changes */
.theme-toggle i {
    transition: color 0.3s, transform 0.3s;
}

/* Dark mode styling for icon */
body.dark-theme .theme-toggle .fa-moon {
    color: var(--contrast-text-color);
}

body.dark-theme .theme-toggle .fa-sun {
    color: var(--contrast-text-color);
}

.logotxt {
    font-family: 'Titillium Web';
    height: 100%;
    padding-left: 15px;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: 600;
    color: var(--first-accent-darker-color);
    font-size: xx-large;
}

.logotxt b {
    font-weight: 800;
}

body.dark-theme .logotxt {
    color: var(--contrast-text-color);
}

.logo {
    display: flex;
    align-items: center;
    margin-right: auto; /* Push menu items to the right */
    transition: all 0.3s ease;
}

.logo:hover {
    background: none;
    transform: scale(110%);
}

.close-button {
    background: none;
    color: var(--contrast-text-color);
    padding: 10px;
    margin: 0px;
}

.close-button:hover {
    background: none;
}

.sidebarlogo {
    padding: 10px;
    margin: 10px;
    font-size: larger;
    text-decoration: none;
}

.menubtn {
    display: none;
    align-items: center;
}

.icon {
    align-items: center;
    display: none;
}

.drop-down {
    width: 300px;
    position: absolute;
    top: 45px;
    z-index: 999;
    display: none;
    border-radius: 0px 0px 20px 20px;
    color: #000;
    background-color: #c0d9ff;
    transition: all 0.3s ease;
}

.drop-down-container {
    margin: 6px;
}

.drop-down li, .drop-down h1{
    display: block;
    padding-left: 10px;
}

.create:hover .drop-down{
        display: block;
}

/* Responsive design */
@media (max-width: 780px) {
    .menu-item a {
        padding: 0 12px;
    }

    .purchase a {
        display: none;
    }

    .menubtn {
        display: flex;
    }
}

@media (max-width: 350px) {
    .sidebar {
        width: 100%;
    }
}

@media (max-width: 740px) {
    .menu-item a {
        font-size: smaller;
    }

    .logotxt {
        font-size: x-large;
    }
}

@media (max-width: 670px) {
    .purchase a {
        display: none;
    }

    .about a {
        display: none;
    }

    .forum a {
        display: none;
    }
}

@media (max-width: 550px) {
    .menu-item {
        display: none;
    }

    .icon {
        display: flex;
    }

    .theme-toggle {
        display: block;
    }

    .menubtn {
        display: flex;
    }
}
